/* debug */
[class^= "container"],[class^= "col"], .ps-container{
  background-color: aqua;
  border: 1px solid black;
  min-height: 50px;
}

.ps-container{
  width: 60%;
  margin: 0 auto;
}

header{
  background-color: #2c3e50;
  height: 90px;
  color: white;
}

.ps-jumbotron{
  color: red;
  height: 250px;
  color: rgb(255, 255, 255);
}

footer{
  color: rgb(195, 216, 8);
}

.footer-top{
  background-color: bisque;
}

.footer-bottom{
  background-color: blueviolet;
}


.image img{
  width: 100%;
}

.image{
  width: 150px;
}

img{
  width: 10%;
}

.ps-col{
 height: 200px;
}

.ps-col img{
  object-fit: cover;
}